<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../../public/assets/css/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Tutors</title>
</head>
<body>
    <div class="container">
        <!-- start of sidebar -->
        <div id="sidebarx" class="sidebar">
          <div class="sidebar-top">
            <div class="usericon"><img src="../../../public/assets/img/hanafe.JPG" alt="Profile Image"></div>
            <div class="userdetails">
              <ul>
                <li style="font-size: large;">Hanafe Mira</li>
                <li style="font-size: 10px; opacity: 0.5;">Student</li>
              </ul>
            </div>
          </div>
          <div class="sidebar_content">
            <a href="#home">
              <span class="naviconBx"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
              <span class="naviconBx">Dashboard</span>
            </a>
            <a href="#news">
              <span class="naviconBx"><i class="fa-solid fa-person-chalkboard"></i></span>
              <span class="naviconBx">Syllabus</span>
            </a>
            <a href="#contact">
              <span class="naviconBx"><i class="fa-solid fa-download"></i></span>
              <span class="naviconBx">Courses</span>
            </a>
            <a href="#about">
              <span class="naviconBx"><i class="fa-solid fa-graduation-cap"></i></span>
              <span class="naviconBx">Schedule</span>
            </a>
            <a class="active" href="#about">
              <span class="naviconBx"><i class="fa-solid fa-comment-dots"></i></span>
              <span class="naviconBx">Tutors</span>
            </a>
            <a href="#about">
              <span class="naviconBx"><i class="fa-solid fa-comment-dots"></i></span>
              <span class="naviconBx">Threads</span>
            </a>
            <a href="#about">
              <span class="naviconBx"><i class="fa-solid fa-comment-dots"></i></span>
              <span class="naviconBx">Wishlist</span>
            </a>
            <a href="#about">
              <span class="naviconBx"><i class="fa-solid fa-gear"></i></span>
              <span class="naviconBx">Settings</span>
            </a>
            <a href="#about">
              <span class="naviconBx"><i class="fa-solid fa-right-from-bracket"></i></span>
              <span class="naviconBx">Logout</span>
            </a>
          </div>
        </div>
        

        <!-- start of main content -->
      <div class="main">
        <div class="toggle" onclick="openNav()">
          <i class="fa-solid fa-bars"></i>
        </div>

        <div class="dashboardtype">
            <label>
                Tutors
            </label>
        </div>

        <div class="cardBox">
            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../../public/assets/img/HeaderLady 1.png" />
                    <div class="Info">
                      <div class="InstructorName">Jeanne Paige</div>
                      <div class="Headline">Digital Product Designer</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568 </div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>

            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../assets/img/hanafe.JPG" />
                    <div class="Info">
                      <div class="InstructorName">Hanafe Mira</div>
                      <div class="Headline">Physics Tutor</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568</div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>
            
            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../../public/assets/img/HeaderLady 1.png" />
                    <div class="Info">
                      <div class="InstructorName">Jeanne Paige</div>
                      <div class="Headline">Digital Product Designer</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568 </div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>

            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../../public/assets/img/HeaderLady 1.png" />
                    <div class="Info">
                      <div class="InstructorName">Jeanne Paige</div>
                      <div class="Headline">Digital Product Designer</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568 </div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>

            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../../public/assets/img/HeaderLady 1.png" />
                    <div class="Info">
                      <div class="InstructorName">Jeanne Paige</div>
                      <div class="Headline">Digital Product Designer</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568 </div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>

            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../../public/assets/img/HeaderLady 1.png" />
                    <div class="Info">
                      <div class="InstructorName">Jeanne Paige</div>
                      <div class="Headline">Digital Product Designer</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568 </div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>

            <div class="container" style="display: flex;">
                <div class="Instructor">
                    <img class="Image" src="../../../public/assets/img/HeaderLady 1.png" />
                    <div class="Info">
                      <div class="InstructorName">Jeanne Paige</div>
                      <div class="Headline">Digital Product Designer</div>
                    </div>
                    <div class="Devider"></div>
                    <div class="RatingStudents">
                      <div class="Rating">
                        <div class="Star">
                          <div class="Star">
                            <div class="Vector"></div>
                            <div class="Vector"></div>
                          </div>
                        </div>
                        <div class="RatingValue">5.0</div>
                      </div>
                      <div class="Frame226">
                        <div class="StudentCount">236,568 </div>
                        <div class="Students">students</div>
                      </div>
                    </div>
                    <div class="Buttons">
                      <div class="Button">Send message</div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>