<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="width: 1920px; height: 1080px; position: relative; background: white">
    <div style="width: 2178px; height: 1208px; left: -2px; top: 0px; position: absolute">
      <div style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
      <img style="width: 1278px; height: 983px; left: 900px; top: 225px; position: absolute" src="https://via.placeholder.com/1278x983" />
    </div>
    <div style="left: 775px; top: 23px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">30 Day Trial + FREE Shipping & Returns</div>
    <div style="left: 759px; top: 1077px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </div>
    <div style="height: 100px; left: 174px; top: 678px; position: absolute">
      <div style="width: 55.57px; height: 55.57px; left: 62px; top: 0px; position: absolute">
        <div style="width: 55.57px; height: 55.57px; left: 0px; top: 0px; position: absolute; background: #434343"></div>
        <div style="width: 19.93px; height: 20.74px; left: 23.27px; top: 7.90px; position: absolute; background: #434343"></div>
      </div>
      <div style="width: 180px; height: 24px; left: 0px; top: 76px; position: absolute; text-align: center; color: #434343; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Antibacterial</div>
    </div>
    <div style="width: 180px; height: 100px; left: 361px; top: 678px; position: absolute">
      <div style="width: 49.38px; height: 55.51px; left: 65px; top: 0px; position: absolute">
        <div style="width: 20.67px; height: 20.72px; left: 28.71px; top: 34.59px; position: absolute; background: #434343"></div>
        <div style="width: 38.55px; height: 55.51px; left: 0px; top: 0px; position: absolute; background: #434343"></div>
      </div>
      <div style="width: 180px; height: 24px; left: 0px; top: 76px; position: absolute; text-align: center; color: #434343; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hypoallergenic</div>
    </div>
    <div style="width: 615px; left: 174px; top: 272px; position: absolute; color: #434343; font-size: 45px; font-family: Poppins; font-weight: 600; line-height: 58.72px; word-wrap: break-word">A Personalized Learning Hub</div>
    <div style="width: 804px; left: 174px; top: 430px; position: absolute; color: #434343; font-size: 20px; font-family: Poppins; font-weight: 500; word-wrap: break-word">iQube is a platform for your academic personalization. As students of Advanced Level, it is not generally an easy task </div>
    <div style="width: 830px; height: 158px; left: 174px; top: 480px; position: absolute; color: #434343; font-size: 20px; font-family: Poppins; font-weight: 500; word-wrap: break-word">ipsem lorem</div>
    <div style="width: 623.49px; height: 66px; left: 174px; top: 838px; position: absolute">
      <div style="width: 518.37px; height: 66px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 6px"></div>
      <div style="width: 606.49px; height: 31.48px; left: 17px; top: 17px; position: absolute; color: white; font-size: 24px; font-family: Poppins; font-weight: 600; line-height: 31.32px; word-wrap: break-word">I want to personlize my A/Level Journey</div>
    </div>
    <div style="height: 100px; left: 548px; top: 678px; position: absolute">
      <div style="width: 180px; height: 24px; left: 0px; top: 76px; position: absolute; text-align: center; color: #434343; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Anti-aging</div>
      <div style="width: 64.79px; height: 56px; left: 58px; top: 0px; position: absolute">
        <div style="width: 16.25px; height: 14.24px; left: 32.41px; top: 20.88px; position: absolute; background: #434343"></div>
        <div style="width: 16.26px; height: 14.24px; left: 18.32px; top: 12.67px; position: absolute; background: #434343"></div>
        <div style="width: 16.26px; height: 14.24px; left: 18.32px; top: 29.10px; position: absolute; background: #434343"></div>
        <div style="width: 59.39px; height: 31.90px; left: 0px; top: 24.10px; position: absolute; background: #434343"></div>
        <div style="width: 59.22px; height: 31.91px; left: 5.57px; top: 0px; position: absolute; background: #434343"></div>
      </div>
    </div>
    <div style="height: 100px; left: 735px; top: 678px; position: absolute">
      <div style="width: 180px; height: 24px; left: 0px; top: 76px; position: absolute; text-align: center; color: #FFB92D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">OEKO-TEX certified</div>
      <div style="width: 55.93px; height: 56px; left: 62px; top: 0px; position: absolute">
        <div style="width: 55.93px; height: 56px; left: 0px; top: 0px; position: absolute; background: #FFB92D"></div>
        <div style="width: 23.89px; height: 23.70px; left: 16.04px; top: 16.09px; position: absolute; background: #FFB92D"></div>
        <div style="width: 4.61px; height: 3.64px; left: 39.73px; top: 17.82px; position: absolute; background: #FFB92D"></div>
        <div style="width: 3.53px; height: 4.78px; left: 26.22px; top: 9.45px; position: absolute; background: #FFB92D"></div>
        <div style="width: 4.25px; height: 3.83px; left: 11.65px; top: 17.81px; position: absolute; background: #FFB92D"></div>
        <div style="width: 4.56px; height: 3.64px; left: 11.64px; top: 34.45px; position: absolute; background: #FFB92D"></div>
        <div style="width: 4.24px; height: 3.79px; left: 40.08px; top: 34.30px; position: absolute; background: #FFB92D"></div>
        <div style="width: 3.53px; height: 4.80px; left: 26.22px; top: 41.66px; position: absolute; background: #FFB92D"></div>
        <div style="width: 3.60px; height: 4.52px; left: 17.82px; top: 11.74px; position: absolute; background: #FFB92D"></div>
        <div style="width: 3.61px; height: 4.57px; left: 34.55px; top: 39.62px; position: absolute; background: #FFB92D"></div>
        <div style="width: 4.74px; height: 3.53px; left: 41.85px; top: 26.18px; position: absolute; background: #FFB92D"></div>
        <div style="width: 4.78px; height: 3.52px; left: 9.37px; top: 26.18px; position: absolute; background: #FFB92D"></div>
        <div style="width: 3.87px; height: 4.20px; left: 34.31px; top: 11.74px; position: absolute; background: #FFB92D"></div>
        <div style="width: 3.75px; height: 4.21px; left: 17.81px; top: 39.99px; position: absolute; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 26.70px; top: 18.52px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 31.88px; top: 18.88px; position: absolute; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 34.88px; top: 23.18px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 36.32px; top: 27.26px; position: absolute; transform: rotate(-13.28deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 35.13px; top: 32.15px; position: absolute; transform: rotate(-13.28deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 31.93px; top: 35.30px; position: absolute; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 26.68px; top: 37.35px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 21.85px; top: 36.27px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 18.51px; top: 33.27px; position: absolute; transform: rotate(-67.50deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 17.16px; top: 28px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #FFB92D"></div>
        <div style="width: 1.79px; height: 1.79px; left: 18.68px; top: 22.22px; position: absolute; background: #FFB92D"></div>
        <div style="width: 1.80px; height: 1.80px; left: 22.16px; top: 19.10px; position: absolute; transform: rotate(-9.18deg); transform-origin: 0 0; background: #FFB92D"></div>
      </div>
    </div>
    <div style="width: 453px; height: 136px; left: 174px; top: 96px; position: absolute; color: black; font-size: 128px; font-family: Inter; font-weight: 900; word-wrap: break-word">iQube</div>
    <div style="width: 1918px; height: 96px; left: -2px; top: 3px; position: absolute; background: #D9D9D9; backdrop-filter: blur(12px)"></div>
    <div style="width: 462px; height: 36px; left: 872px; top: 30px; position: absolute">
      <div style="width: 86.71px; left: 0px; top: 0px; position: absolute; color: black; font-size: 22px; font-family: Inter; font-weight: 700; word-wrap: break-word">Home</div>
      <div style="width: 96.19px; left: 168px; top: 0px; position: absolute; color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sign In</div>
      <div style="width: 116.52px; left: 345.48px; top: 0px; position: absolute; color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Register</div>
      <div style="width: 46.06px; height: 2px; left: 0px; top: 34px; position: absolute; background: black"></div>
    </div>
    <div style="width: 278px; height: 27px; left: 1528px; top: 30px; position: absolute">
      <img style="width: 33.61px; height: 20.07px; left: 0px; top: 3px; position: absolute" src="https://via.placeholder.com/34x20" />
      <div style="width: 130.63px; left: 147.37px; top: 0px; position: absolute; color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">0 Items</div>
      <div style="width: 10.56px; height: 16.69px; left: 86.36px; top: 12.56px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: black"></div>
      <div style="width: 34.96px; height: 13.79px; left: 77.72px; top: 7.28px; position: absolute; background: black"></div>
    </div>
    <div style="width: 66px; height: 66px; left: 1667px; top: 642px; position: absolute">
      <div style="width: 66px; height: 66px; left: 0px; top: 0px; position: absolute; background: #ECE1CF; border-radius: 9999px"></div>
      <div style="width: 12.57px; height: 22px; left: 22px; top: 26.71px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: black"></div>
    </div>
  </div>
</body>
</html>