<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/hanafe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Syllabus</title>
</head>
<body>
    <div class="container">
        <!-- start of sidebar -->
        <div id="sidebarx" class="sidebar">
            <div class="sidebar-top">
              <div class="usericon"><img src="../../assets/img/hanafe.JPG" alt="Profile Image"></div>
              <div class="userdetails">
                <ul>
                  <li>Hanafe Mira</li>
                  <li style="font-size: 10px; opacity: 0.5;">Student</li>
                </ul>
              </div>
            </div>
            <div class="sidebar_content">
              <a href="#home">
                <span class="naviconBx"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                <span class="naviconBx">Dashboard</span>
              </a>
              <a href="#news">
                <span class="naviconBx"><i class="fa-solid fa-person-chalkboard"></i></span>
                <span class="naviconBx">Syllabus</span>
              </a>
              <a href="#contact">
                <span class="naviconBx"><i class="fa-solid fa-download"></i></span>
                <span class="naviconBx">Courses</span>
              </a>
              <a href="#about">
                <span class="naviconBx"><i class="fa-solid fa-graduation-cap"></i></span>
                <span class="naviconBx">Schedule</span>
              </a>
              <a class="active" href="#about">
                <span class="naviconBx"><i class="fa-solid fa-comment-dots"></i></span>
                <span class="naviconBx">Tutors</span>
              </a>
              <a href="#about">
                <span class="naviconBx"><i class="fa-solid fa-comment-dots"></i></span>
                <span class="naviconBx">Wishlist</span>
              </a>
              <a href="#about">
                <span class="naviconBx"><i class="fa-solid fa-gear"></i></span>
                <span class="naviconBx">Settings</span>
              </a>
              <a href="#about">
                <span class="naviconBx"><i class="fa-solid fa-right-from-bracket"></i></span>
                <span class="naviconBx">Logout</span>
              </a>
            </div>
          </div>

        <section class="main">
            <div class="cardBox">
                <div class="card">
                    <h3 class="cardName">Measurements</h3>
                    <div>
                        <div class="cardName">Progress</div>
                        <div class="progress-bar">
                            <div class="progress-fill"></div>
                        </div>  
                    </div>
                </div>
                <div class="card">
                    <h3 class="cardName">Mechanics</h3>
                    <div class="class">
                        <div class="cardName">Progress</div>
                        <div class="progress-bar">
                            <div class="progress-fill" style="width: 40%;"></div>
                        </div>  
                    </div>
                </div>
                <div class="card">
                    <h3 class="cardName">Waves</h3>
                    <div class="class">
                        <div class="cardName">Progress</div>
                        <div class="progress-bar">
                            <div class="progress-fill" style="width: 50%;"></div>
                        </div>  
                    </div>
                </div>
                <div class="card">
                    <h3 class="cardName">Thermodynamics</h3>
                    <div class="class">
                        <div class="cardName">Progress</div>
                        <div class="progress-bar">
                            <div class="progress-fill"></div>
                        </div>  
                    </div>
                </div>
                <div class="card">
                    <h3 class="cardName">Field</h3>
                    <div class="class">
                        <div class="cardName">Progress</div>
                        <div class="progress-bar">
                            <div class="progress-fill"></div>
                        </div>  
                    </div>
                </div>

            </div>
        </section>
        
    </div>
</body>
</html>